[submodule "chainmaker/yzchain-go"]
	path = chainmaker/yzchain-go
	url = https://github.com/BachLedger/yzchain-go.git
[submodule "chainmaker/yzchain-cryptogen"]
	path = chainmaker/yzchain-cryptogen
	url = https://github.com/BachLedger/yzchain-cryptogen.git
[submodule "chainmaker/chain-module/chainconf"]
	path = chainmaker/chain-module/chainconf
	url = https://github.com/BachLedger/chainconf.git
[submodule "chainmaker/chain-module/common"]
	path = chainmaker/chain-module/common
	url = https://github.com/BachLedger/common.git
[submodule "chainmaker/chain-module/consensus-raft"]
	path = chainmaker/chain-module/consensus-raft
	url = https://github.com/BachLedger/consensus-raft.git
[submodule "chainmaker/chain-module/consensus-solo"]
	path = chainmaker/chain-module/consensus-solo
	url = https://github.com/BachLedger/consensus-solo.git
[submodule "chainmaker/chain-module/consensus-tbft"]
	path = chainmaker/chain-module/consensus-tbft
	url = https://github.com/BachLedger/consensus-tbft.git
[submodule "chainmaker/chain-module/consensus-utils"]
	path = chainmaker/chain-module/consensus-utils
	url = https://github.com/BachLedger/consensus-utils.git
[submodule "chainmaker/chain-module/localconf"]
	path = chainmaker/chain-module/localconf
	url = https://github.com/BachLedger/localconf.git
[submodule "chainmaker/chain-module/logger"]
	path = chainmaker/chain-module/logger
	url = https://github.com/BachLedger/logger.git
[submodule "chainmaker/chain-module/net-common"]
	path = chainmaker/chain-module/net-common
	url = https://github.com/BachLedger/net-common.git
[submodule "chainmaker/chain-module/net-libp2p"]
	path = chainmaker/chain-module/net-libp2p
	url = https://github.com/BachLedger/net-libp2p.git
[submodule "chainmaker/chain-module/pb"]
	path = chainmaker/chain-module/pb
	url = https://github.com/BachLedger/pb.git
[submodule "chainmaker/chain-module/pb-go"]
	path = chainmaker/chain-module/pb-go
	url = https://github.com/BachLedger/pb-go.git
[submodule "chainmaker/chain-module/protocol"]
	path = chainmaker/chain-module/protocol
	url = https://github.com/BachLedger/protocol.git
[submodule "chainmaker/chain-module/sdk-go"]
	path = chainmaker/chain-module/sdk-go
	url = https://github.com/BachLedger/sdk-go.git
[submodule "chainmaker/chain-module/store"]
	path = chainmaker/chain-module/store
	url = https://github.com/BachLedger/store.git
[submodule "chainmaker/chain-module/txpool-batch"]
	path = chainmaker/chain-module/txpool-batch
	url = https://github.com/BachLedger/txpool-batch.git
[submodule "chainmaker/chain-module/txpool-normal"]
	path = chainmaker/chain-module/txpool-normal
	url = https://github.com/BachLedger/txpool-normal.git
[submodule "chainmaker/chain-module/utils"]
	path = chainmaker/chain-module/utils
	url = https://github.com/BachLedger/utils.git
[submodule "chainmaker/chain-module/vm"]
	path = chainmaker/chain-module/vm
	url = https://github.com/BachLedger/vm.git
[submodule "chainmaker/chain-module/vm-engine"]
	path = chainmaker/chain-module/vm-engine
	url = https://github.com/BachLedger/vm-engine.git
[submodule "chainmaker/chain-module/vm-evm"]
	path = chainmaker/chain-module/vm-evm
	url = https://github.com/BachLedger/vm-evm.git
[submodule "chainmaker/chain-module/vm-native"]
	path = chainmaker/chain-module/vm-native
	url = https://github.com/BachLedger/vm-native.git
[submodule "chainmaker/chain-module/ExpScript-Data"]
	path = chainmaker/chain-module/ExpScript-Data
	url = https://github.com/BachLedger/ExpScript-Data.git
