[Unit]
Description=yzchain

[Service]
KillMode=process
LimitNOFILE=102400
Environment=BINPATH=/data/yzchain/yzchain-go/bin
WorkingDirectory=/data/yzchain/yzchain-go/bin
Type=forking

ExecStart=/usr/bin/bash -c "${BINPATH}/run.sh start"
ExecStop=/usr/bin/bash -c "${BINPATH}/run.sh stop"
ExecReload=/usr/bin/bash -c "${BINPATH}/run.sh restart"

Restart=on-failure

[Install]
WantedBy=multi-user.target
